<section class="interface-section section-padding">
    <div class="container interface-grid">
        <div class="interface-image">
            <img src="laptop.svg" alt="User Friendly Interface">
        </div>
        <div class="interface-text">
            <h2 class="section-title">
                Designed For All
                <div class="loader">
                    <div class="words">
                        <span class="word"><b>teachers</b></span>
                        <span class="word"><b>students</b></span>
                        <span class="word"><b>parents</b></span>
                        <span class="word"><b>teachers</b></span>
                    </div>
                </div>
            </h2>

        
            <ul class="interface-list">
                <li><i class="fa-solid fa-square"></i><p>Teachers can efficiently manage courses and interact with students in a focused environment.</p></li>
                <li><i class="fa-solid fa-square"></i><p>Students benefit from engaging resources and recorded lessons tailored to their learning needs.</p></li>
                <li><i class="fa-solid fa-square"></i><p>Parents have the ability to monitor their child's academic progress and stay updated on their learning journey.</p></li>
            </ul>
        </div>
    </div>
</section>