<section class="interface-section section-padding">
    <div class="container interface-grid">
        <div class="interface-image">
            <img src="girl.png" alt="User Friendly Interface">
        </div>
        <div class="interface-text">
            
            <h2 style="color: #2F327D;">A <span style="color: #6A9C89;">user-friendly</span> interface designed for an interactive learning experience</h2>
            <ul class="interface-list">
                <li><i class="fa-solid fa-square"></i><p>Instructors have a dedicated interface free from distractions, making course delivery smooth and engaging.</p></li>
                <li><i class="fa-solid fa-square"></i><p>Our platform's user-friendly design keeps students engaged with recorded courses tailored to IG and EST curricula.</p></li>
                <li><i class="fa-solid fa-square"></i><p>Parents and instructors can monitor student progress seamlessly, ensuring clear visibility into learning milestones.</p></li>
            </ul>
        </div>

    </div>
</section>