
    <div class=" sidebar">

    <nav class="sidebar-nav">
        <a  class="sidebar-nav-item" id="payment-info-link" (click)="onLinkClicked('default')">
            <i class="fas fa-home"></i> Main Content
        </a>
        <a  class="sidebar-nav-item" id="payment-info-link" (click)="onLinkClicked('payment-info')">
            <i class="fas fa-credit-card"></i> Payment Info
        </a>
        <a  class="sidebar-nav-item" id="my-courses-link" (click)="onLinkClicked('my-courses')">
            <i class="fas fa-book"></i> My Courses
        </a>
        <a  class="sidebar-nav-item" id="quizzes-link" (click)="onLinkClicked('quizzes')">
            <i class="fas fa-question-circle"></i> Quizzies
        </a>
    </nav>
</div>


