
<div class="wrapper">
    <!-- Left Image -->
    <img src="Group 42.png" alt="Person Drawing" class="left-image">
    <!-- Right Image -->
    <img src="chatbot 1.png" alt="Robot with Speech Bubbles" class="right-image">
    <!-- Login Form Container -->
    <div class="container">
        <form>
            <h1>
                Welcome to Estigo
                <!-- <img src="dark.png" alt="ESTIGO Logo" style="display:inline-block;height: 2em; vertical-align: middle;"> -->
            </h1>
            <label for="email">Email</label>
            <input class="input" type="email" id="email" placeholder="Enter your Email">
            <label for="password">Password</label>
            <div class="password-wrapper">
                <input class="input" type="password" id="password" placeholder="Enter your Password">
              
            </div>
            <div class="options">
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" (click)="onLogin(); $event.preventDefault()">LOGIN</button>
            <p>or sign in with</p>
            <div class="social-login">
                <button class="google"><img src="google.ico" alt="Google"></button>
                <button class="facebook"><img src="facebook.ico" alt="Facebook"></button>
            </div>
            <p>Don't have an account? <a routerLink="/register">Sign up</a></p>
        </form>
    </div>
</div>
