<section class="tools-section section-padding">
    <div class="container tools-grid">
        <div class="tools-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;"><span style="color: #6A9C89;">Tools</span> For Teachers <br> And Learners</h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">Class has a dynamic set of teaching tools built to<br> be deployed and used during class. Teachers can<br> handout assignments in real-time for students to<br> complete and submit.</p>
        </div>
        <div class="tools-image">
            <img src="mobile.png" alt="Tools for Teachers and Learners">
        </div>
    </div>
</section>