<app-g-header-not-user></app-g-header-not-user>
<app-hero-section></app-hero-section>
<app-features-section></app-features-section>
<app-what-is-estigo-section></app-what-is-estigo-section>
<app-classroom-section></app-classroom-section>
<app-interface-section></app-interface-section>
<app-tools-section></app-tools-section>
<app-assessments-section></app-assessments-section>
<app-class-management-section></app-class-management-section>
<app-popular-courses-section></app-popular-courses-section>
<app-instructors-section></app-instructors-section>
<app-footer></app-footer>