<section class="assessments-section section-padding">
    <div class="container assessments-grid">
        <div class="assessments-image">
            <img src="test.svg" alt="Assessments, Quizzes, Tests">
        </div>
        <div class="assessments-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;">Assessments, <br><span style="color: #6A9C89;">Quizzes</span>, Tests</h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">Easily launch live assignments, quizzes, and tests<br> powered by AI. Student results are automatically<br> graded and entered into the online grade book,<br> providing instant feedback and insights.</p>
        </div>
    </div>
</section>