<div class="my-courses-container">
  <div class="courses-header">
    <div class="title-section">
      <h2>My Courses</h2>
      <p class="subtitle">List of your courses</p>
    </div>
  </div>

  <div class="course-grid">
    <div *ngFor="let course of courses" class="course-card"  [routerLink]="['/myCourse', course.courseId]">
      
      <div class="card-image-container">
        <img [src]="'data:image/jpeg;base64,' + course.imageBase64" [alt]="course.courseTitle">
      </div>
      <div class="card-content">
        <h3 class="card-title">{{ course.courseTitle }}</h3>
        <p class="card-author">
          <span class="icon-author"></span> {{ course.teacherName }}
        </p>
        <p class="card-status status-in-progress">Enrolled on {{ formatDate(course.enrollmentDate) }}</p>
      </div>
    </div>
  </div>
</div>