<div class=" main-content" id="main-content-area">


    <div class="hero-section">
        <div class="hero-text">
            <div class="hero-welcome">Welcome back, Name!</div>
            <p class="hero-welcomeP">This is your learning dashboard will help you to finish your bootcamp smoothly.</p>
        </div>
        <div class="hero-image">
            <img src="dashboard-girl.svg" alt="Hero Image">
        </div>
    </div>


    <div class="dashboard-grid">
        <section class="dashboard-section" id="enrolled-courses-section">
            <div class="section-title">
                Enrolled Courses
                
            </div>
            <div class="enrolled-courses-grid">
                <div class="course-card">
                    <img src="girl.png" alt="Object oriented programming">
                    <h5 class="course-title">Object oriented programming</h5>
                    <button class="course-view-button">View</button>
                </div>
                <div class="course-card">
                    <img src="girl.png" alt="Fundamentals of database systems">
                    <h5 class="course-title">Fundamentals of database systems</h5>
                    <button class="course-view-button">View</button>
                </div>
                <div class="course-card">
                    <img src="girl.png" alt="Fundamentals of database systems">
                    <h5 class="course-title">Fundamentals of database systems</h5>
                    <button class="course-view-button">View</button>
                </div>
            </div>
        </section>

        <section class="Instructors-section dashboard-section" id="instructors-section">
            <div class="section-title">
                Course Intructors
            </div>
            <div class="instructors-list">
                <div class="instructor-profile">
                    <img src="girl.png" alt="Instructor 1">
                </div>
                <div class="instructor-profile">
                    <img src="girl.png" alt="Instructor 2">
                </div>
                <div class="instructor-profile">
                    <img src="girl.png" alt="Instructor 3">
                </div>
            </div>
        </section>

        <section class="dashboard-section" id="quizzes-default-section">
            <div class="section-title">
                Quizzes
                
            </div>
            <div class="quiz-list">
                <div class="quiz-item">
                    <h4 class="quiz-title">Midterm Exam - OOP</h4>
                    <p class="quiz-grade">Grade: 88%</p>
                </div>
                <div class="quiz-item">
                    <h4 class="quiz-title">Quiz 2 - Database Fundamentals</h4>
                    <p class="quiz-grade">Grade: 92%</p>
                </div>
            </div>
        </section>
        <section class="dashboard-section" id="daily-notice-section">
            <div class="section-title">
                Daily notice
                
            </div>
            <div class="daily-list">
                <div class="daily-item">
                    <h4 class="quiz-title">There is an Exam next session</h4>
                    <p class="quiz-grade">Mathmatices</p>
                </div>
                <div class="daily-item">
                    <h4 class="quiz-title">Chapter 1 end next session be ready to the exam</h4>
                    <p class="quiz-grade">English</p>
                </div>
            </div>
        </section>
    </div>
</div>