<section class="features-section section-padding">
    <div class="container">
        <h2 class="section-title"><span style="color: #2F327D;">All-In-One </span> <span style="color: #6A9C89;">Learning Platform</span></h2>
        <p class="section-subtitle">ESTIGO is a powerful online platform that brings together all the<br> essential tools needed to manage a successful educational<br> experience, from classrooms to administration.</p>
        <div class="features-grid">
            <div class="feature-card">
                <i class="fas fa-file-invoice-dollar"></i>
                <h3>Online Billing, <br>Invoicing, & Contracts</h3>
                <p>Simple and secure control of your organization's financial and legal transactions. Send customized invoices and contracts</p>
            </div>
            <div class="feature-card">
                <i class="far fa-calendar-check"></i>
                <h3>Easy Scheduling & <br>Attendance Tracking</h3>
                <p>Schedule and reserve classrooms at one campus or multiple campuses. Keep detailed records of student attendance</p>
            </div>
            <div class="feature-card">
                <i class="fas fa-user-friends"></i>
                <h3>Parent Tracking</h3>
                <p>Easily automate and track emails to individuals or groups. ESTIGO's integrated system streamlines communication, helping you keep organized and connected.</p>
            </div>
        </div>
    </div>
</section>