.hero-section {
    background-color: #6A9C89;
    padding: 0.5px 0 60px 0;
    color: white;
    position: relative;
    overflow: hidden;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-text {
    font-size: 0.8rem;
    flex: 1;
    padding-right: 50px;
    margin-bottom: 0;
    text-align: left;
}
.hero-title {
    font-size: 2rem;
    margin-bottom: 10px;
    white-space: nowrap;
    color: white;
    line-height: 1.2;
}
.hero-title span {
    color: #fd9c35;
}
.hero-description {
    font-size: 1.2rem;
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
}
.hero-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 18px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
.hero-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.hero-image {
    flex: 1;
    text-align: right;
}
.hero-image img {
    max-width: 1000px;
    height: auto;
    max-height: 700px;
}
