<section class="hero-section section-padding">  <!-- ADD THIS SECTION TAG BACK -->
    <div class="container hero-container">
        <div class="hero-text">
            <h1 class="hero-title"> <span style="color: #fd9c35;">Studying</span> Online is now <br> much easier</h1>
            <p class="hero-description">ESTIGO is an interesting platform that will teach  you in more an interactive way</p>
            <button class="hero-button">Join for free</button>
        </div>
        <div class="hero-image">
            <img src="hero-home.svg" alt="Studying Illustration">
        </div>
    </div>
</section> <!-- CLOSE THE SECTION TAG -->