

@font-face {
    font-family: "Gilroy-Regular";
    src: url("/assets/default/fonts/gilroy/Gilroy-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("/assets/default/fonts/gilroy/Gilroy-Bold.woff2");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("/assets/default/fonts/gilroy/Gilroy-SemiBold.woff2");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy-Heavy";
    src: url("/assets/default/fonts/gilroy/Gilroy-Heavy.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy-Light";
    src: url("/assets/default/fonts/gilroy/Gilroy-Light.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("/assets/default/fonts/gilroy/Gilroy-Medium.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* tajawal */
@font-face {
    font-family: "Tajawal-Regular";
    src: url("/assets/default/fonts/tajawal/Tajawal-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal-Bold";
    src: url("/assets/default/fonts/tajawal/Tajawal-Bold.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal-Light";
    src: url("/assets/default/fonts/tajawal/Tajawal-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal-Medium";
    src: url("/assets/default/fonts/tajawal/Tajawal-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal-Black";
    src: url("/assets/default/fonts/tajawal/Tajawal-Black.ttf");
    font-weight: normal;
    font-style: normal;
}

