<header>
    <div class="container header-container">
        <div class="logo">
            <a routerLink="/"><img src="dark.png" alt="Estigo Academy Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a href="#">Blog</a></li>
                <li><a routerLink="/aboutus">About Us</a></li>
              </ul>
        </nav>
        <div class="user-profile">
            <a href="#"><img src="girl.png" alt="User Profile"></a>
        </div>
        <p style="padding-left: 50px; color:green;"><a routerLink="/login">login</a></p>
    </div>
</header>