<section class="instructors-section section-padding">
    <div class="container">
        <h2 class="section-title" style="text-align: left; color: #2F327D;">Meet our <span style="color:#6A9C89;">Instructors</span></h2>
        <div class="instructors-carousel" #instructorsCarousel>
            <div *ngIf="isLoading" class="loading">
                Loading instructors...
            </div>
            <div *ngFor="let teacher of teachers" class="instructor-card">
                <img [src]="'data:image/jpeg;base64,' + teacher.image" [alt]="teacher.name">
                <h3 class="instructor-name">{{teacher.name}}</h3>
                <p class="instructor-expertise">{{teacher.subject}}</p>
            </div>
        </div>
    </div>
</section>