<section class="instructors-section section-padding">
    <div class="container">
        <h2 class="section-title" style="text-align: left ;color: #2F327D; ">Our Best <span style="color:#6A9C89;">Instructors</span></h2>
        <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">Various versions have evolved over the years, sometimes by accident, </p>
        <div class="instructors-carousel" #instructorsCarousel>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">UI UX Design Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">Social Media Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">Business Idea Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">Photography Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Robert Fox">
                <h3 class="instructor-name">Robert Fox</h3>
                <p class="instructor-expertise">Photography Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">UI UX Design Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">UI UX Design Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">UI UX Design Expert</p>
            </div>
            <div class="instructor-card">
                <img src="girl.png" alt="Jacob Jones">
                <h3 class="instructor-name">Jacob Jones</h3>
                <p class="instructor-expertise">UI UX Design Expert</p>
            </div>
        </div>
    </div>
</section>