    <nav class="navbar navbar-expand-lg custom-bg p-3 sticky-top" id="navbar">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#">
                <img src="11.png" alt="Logo" width="100">
            </a>
            <div class="mx-auto" style="width: 30%;">
                <form class="d-flex position-relative" role="search">
                    <input class="form-control pe-5" type="search" placeholder="Search" aria-label="Search" style="background-color: rgba(255, 255, 255, 0.2); border: none; color: white;">
                    <button class="btn btn-outline-light position-absolute end-0" type="submit" id="search"><img src="search.ico" style="width: 20px; height: 20px;"></button>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex align-items-center" style="min-width: 50%; justify-content: space-between; gap: 3rem;">
                    <li class="nav-item"><a class="nav-link text-white" routerLink="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLink="/courses">Courses</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLink="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLink="/">Blog</a></li>
                    <li class="nav-item"><a class="nav-link text-white" routerLink="/aboutus">AboutUs</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="#">
                            <img src="profile.ico" alt="User" width="40" class="rounded-circle">
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
