<header>
    <div class="container header-container">
        <div class="logo">
            <a routerLink="/"><img src="2.png" alt="Estigo Academy Logo"></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
        <div class="user-profile">
            <a href="#"><img src="https://i.imgur.com/b45aF7b.png" alt="User Profile"></a>
        </div>
    </div>
</header>