<footer>
    <div class="container footer-container">
        <div class="footer-logo">
            <a href="#"><img src="10.png" alt="Estigo Academy Logo"></a>
            <p style="color: white;">Let's connect.</p>
        </div>
        <div class="contact-details">
            <h4>Telephone</h4>
            <p><a href="tel:(702) 555-0122">(702) 555-0122</a></p>
            <h4>WhatsApp</h4>
            <p><a href="assets/images/file (2) 1.png">+971 555 014 321</a></p>
        </div>
        <div class="contact-details">
            <h4>Office</h4>
            <p>6391 Elgin St. Celina, Delaware 10299</p>
            <h4>Email</h4>
            <p><a href="mailto:mail@mail.com">mailmail.com</a></p>
        </div>
    </div>
</footer>