<app-g-header-profile></app-g-header-profile>

<div class="here-we-go">
    <p >We're here to</p>
    <p>guarantee your success</p>
</div>
<div class="para">
  <p>
    ConsultUs provides consulting services that help business owners and leaders build a more valuable business. We worked with their founder to build a professional, modern site that follows the StoryBrand framework to clearly communicates the value it adds to potential clients
  </p>
</div>

  <div>
    <h3>Our Mission</h3>
    <p>Unmatched service - Support corporate clients...</p>
    <p>Specific - ConsultUs’ core expertise...</p>
    <p>Experience - Experience in working with...</p>
    <p>Technology - The best combination of technology and people.</p>
  </div>

  <div>
    <h3>Our Commitment</h3>
    <p>Ethics - Ensuring customers confidentiality...</p>
    <p>Quality - Best combination of methods...</p>
    <p>Continuity - Long-term relations guarantee satisfaction.</p>
  </div>

  <div>
    <h3>Get in touch</h3>
    <p>We’d love to hear from you. Please fill out this form.</p>
    <form>
      <input type="text" placeholder="Full Name">
      <input type="email" placeholder="Email Address">
      <input type="text" placeholder="Your Message">
      <button type="submit">Connect with Us</button>
    </form>
  </div>

<app-footer></app-footer>
