<section class="classroom-section section-padding">
    <div class="container">
        <div class="classroom-text">
            <h2 class="section-title"><span style="color: #2F327D;">Everything you can achieve in a classroom, you can accomplish with</span><span style="color: #6A9C89;"> ESTIGO's online courses.</span></h2>
        </div>
        <div class="classroom-video">
            <video controls poster="class.png" style="max-width: 100%; height: auto; border-radius: 10px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);">
                <source src="cat.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>