<section class="popular-courses-section section-padding">
    <div class="container">
        <h2 class="section-title" style="text-align: left; color:#2F327D">Most <span style="color:#6A9C89;">Popular Courses</span></h2>
        <div class="popular-courses-carousel" #popularCoursesCarousel>
            <div *ngIf="isLoading" class="loading">
                Loading courses...
            </div>
            <div *ngFor="let course of courses" class="course-card">
                <img [src]="course.imageBase64" [alt]="course.courseTitle">
                <div class="course-content">
                    <h3 class="course-title">{{course.courseTitle}}</h3>
                    <p class="teacher-name">By {{course.teacherName}}</p>
                </div>
            </div>
        </div>
    </div>
</section>