.courses-section {
  background-color: #f9f9f9;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 10px;
}

.section-title {
  text-align: left;
  color: #2c3e50;
  margin-bottom: 0;
  flex-grow: 1;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 0 0 25px 0;
}

.courses-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  position: relative;
  scroll-behavior: smooth;
}

.course-card {
  text-decoration: none;
  color: inherit;
  display: block;
  background-color: white;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
  width: 270px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
  cursor: pointer;
}

.course-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
  transition: border 0.3s ease;
  border: 2px solid transparent;
}

.course-card:hover img {
  transition: transform 0.5s ease; transform: scale(1.18) translateY(-3px);
}

.course-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2c3e50;
  transition: color 0.3s ease;
}

.course-card:hover .course-title {
  color: #6A9C89;
}

.course-instructor {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.course-price {
  color: #6A9C89;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: auto;
  padding-top: 10px;
}

.view-more-btn {
  color: #6A9C89;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

.view-more-btn:hover {
  text-decoration: underline;
 
}

@media (max-width: 768px) {
  .courses-section .divider {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
  }

  .courses-container {
      flex-direction: column;
      overflow-x: visible;
      scroll-snap-type: none;
      padding-bottom: 0;
      gap: 25px;
  }

  .course-card {
      width: 100%;
      min-width: 0;
      scroll-snap-align: none;
      min-height: auto;
  }

  .course-card:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}
