/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --estigo-green: #6A9C89;
    --estigo-orange: #FD9C35;
    --estigo-blue: #2F327D;

    /* Neutral Colors */
    --estigo-off-white: #F8F9FA;
    --estigo-light-beige: #EDE0D4;
    --estigo-soft-gray: #D1D5DB;

    /* Accent Colors */
    --estigo-deep-purple: #4B3F72;
    --estigo-bright-cyan: #00C4CC;
    --estigo-warm-red: #D72638;

    /* Monochromatic Variations */
    --estigo-light-green: #A8C3B6;
    --estigo-soft-orange: #FFC885;
    --estigo-muted-blue: #6B73B5;
}

  
  body {
    /* font-family: cursive; */
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
  }
  img {
    max-width: 100%;
    display: block;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-padding {
    padding: 60px 0;
  }
  .section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #2c3e50; /* Dark blue-gray */
  }
  .section-subtitle {
    text-align: center;
    color: #7f8c8d; /* Light gray-blue */
    margin-bottom: 30px;
  }

 

  .dashboard-container{
    display: flex;
  }
  
  