<section class="class-management-section section-padding">
    <div class="container class-management-grid">
        <div class="class-management-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;">Class Management <br><span style="color: #6A9C89;">Tools for Educators</span></h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">Class offers a comprehensive dashboard for progress<br> tracking, including features like Class Roster,<br> Attendance, and a Gradebook for real-time grading and<br> performance insights.</p>
        </div>
        <div class="class-management-image">
            <img src="screen.png" alt="Class Management Tools for Educators">
        </div>

    </div>
</section>