<section class="class-management-section section-padding">
    <div class="container class-management-grid">
        <div class="class-management-text">
            <h2 class="section-title" style="text-align: left; margin-bottom: 20px; color: #2F327D;">Wanna stay in contact? <br><span style="color: #6A9C89;">Download our App!</span></h2>
            <p class="section-subtitle" style="text-align: left; margin-bottom: 30px;">Stay connected with your classroom anytime, anywhere.<br> Our mobile app lets you manage classes, track attendance,<br> grade assignments, and communicate with students<br> right from your phone or tablet.</p>
        </div>
        <div class="class-management-image">
            <img src="phone.svg" alt="Class Management Tools for Educators">
        </div>

    </div>
</section>